/*MEDIA-QUERIES - INDEX*/

.main{
    @media screen and (min-width: 576px) {
        .products-list {
            grid-template-columns: 1fr 1fr;
            .product-img {
                height: 10rem;
            }
        }
    }
    @media only screen and (min-width: 750px) {
        .banner{
            border-radius: 0.5rem;
            height: $banner-height;
        }
    }

    @media screen and (min-width: 768px) {
        .mark-container{
            display: flex;  
            
            img{
                height: 300px;
                padding-left: map-get($spacings, spacing-large);
             }
            h2{
                text-align: center;
                padding-bottom:map-get($spacings, spacing-large);
                padding-top: map-get($spacings, spacing-large);
            }
        }
        .mark{
            @include flex;
            text-align: justify;
        }
       
        }
    
    @media screen and (min-width: 992px) {
        .products-container {
            grid-template-columns: 200px 1fr;
            gap: map-get($spacings, spacing-base);
            .category-container {
                order: 0;
    
                .category-list {
                    display: grid;
                    grid-template-columns: 1fr;
                }
                .products-list {
                    grid-template-columns: 1fr 1fr;
                    justify-content: left;
                }
               
            }
            .product:hover .product-img,
            .product:focus .product-img {
            transform: $transform;
            transition: $transition;
            }
      
        }
    }
    @media screen and (min-width: 1200px) {
        .products-list {
            grid-template-columns: 1fr 1fr 1fr;
                h5{
                    font-size: map-get($spacings, spacing-base);
                } 
        }
    }
}