/*MEDIA-QUERIES - RECETAS*/

.main{
    @media screen and (min-width: 992px) {
        .recipes-container {
            grid-template-columns: 200px 1fr;
            gap: 1rem;
            .category-container--recipes {
                order: 0;
                .category-list--recipes {
                    display: grid;
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}
