.footer {
    text-align: center;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    p {
        margin-bottom: 0;  
        a {
            color: white;  
        }
        a:hover {
            color: $color-primary;
        }
    }
    
    .icon-footer a{
        color: white;
       
    }
    a:hover {
        color: $color-primary;
    }
}