header
{
    .navbar {
        @include flex;
        justify-content: center;
    
        .nav-center {
            width: 90vw;
            max-width: 1120px;
    
            .nav-header {
                @include flex;
                height: map-get($spacings, spacing-xxxxlarge);
                justify-content: space-between;
    
                .nav-logo {
                    display: flex;
                    align-items: flex-end;
                }
                .image-logo {
                    height: 60px;
                    width: auto;
                }
                .image-list {
                    height: 60px;
                    width: auto;
                    font-size: 1.25rem;
                }
            }
        }
       
        .nav-links {
            height: 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            transition: 0.3s ease-in-out all;
    
            .nav-link {
                display: block;
                text-align: center;
                font-size:  map-get($spacings, spacing-base);
                padding: 0 0;
                border-top: 1px solid $color-border; 
            }   
            
        }
        .show-links {
            height: 220px;
            line-height: 3;
        }  
    
    
    }

    @media screen and (min-width: 992px) {
    
        .navbar {
            height: map-get($spacings, spacing-xxxxlarge);
            padding-bottom: map-get($spacings, spacing-base);
            background-color:$color-background;
            width: 100%;
    
            .nav-center {
                @include flex;
                .nav-header {
                    height: auto;
                    padding: 0;
                    margin-right: map-get($spacings, spacing-large);
    
                    .image-list {
                        display: none;
                    }
                
                }
            }
            .nav-links {
                height: auto;
                flex-direction: row;
                align-items: center;
                width: 100%;
                .nav-link {
                    padding: 0;
                    margin-right: map-get($spacings, spacing-base);
                    font-size: map-get($spacings, spacing-base);
                    border-top: none;
                }
            }
        }
    }
}

