/* MAIN */

.main{
    width: 90vw;
    padding-top: map-get($spacings, spacing-base);
    padding-bottom: 1.5rem;
    margin: 0 auto;
    max-width: $max-width;
    min-height: $min-height; 

    #carouselExampleDark{
        padding-bottom: 1.5rem;
    }
    .banner{
        border-radius: $border-radius;
        height: 235px;
    }
    .products-container {
        display: grid;
        gap: 2rem 1rem;
        .category-container {
            order: 1;
            display: flex;
            flex-direction: column;
            padding-bottom: map-get($spacings, spacing-xlarge);
    
           h4 {
                margin-bottom: 0.5rem;
                font-weight: bold;
            }
            
            .category-list {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                a {
                    text-transform: capitalize;
                    display: block;
                    transition: $transition;
                }
                
                a:hover {
                    color: $color-primary;
                }
                .active{
                    color: $color-primary;
                }
            }
        }
        .products-list {
            display: grid;
            gap: 2rem 1rem;
            padding-bottom: 3rem;
            flex-wrap: wrap;
            justify-content: center;
            h5 {
                margin-bottom: 0;
                margin-top: 0.25rem;
                line-height: 1;
                text-align: center;
                }
            p{
                text-align: center;
            }
            .product-img {
                height: 15rem;
                margin-bottom: map-get($spacings, spacing-base);
                display: block;
                }
              
        }
        .products-list {
            display: flex;
    }
    }
     
    .mark-container{
        @include flex;
        padding-top: map-get($spacings, spacing-base);
        padding-bottom: 1.5rem;
        justify-content: center;
        flex-wrap: wrap;
       

       h2{
            text-align: center;
            padding-bottom: 2rem;
        }
    
    }
    .mark{
        text-align: center;

        img{
            height: 150px;
             border-radius: 0.25rem;
             text-align: center;
         }
    }  
   
}