/* COLORS */
$color-primary: #d8691b;

/* SPACINGS */
$spacing-base: 1rem;
$spacing-large: 2rem;
$spacing-xlarge: 3rem;
$spacing-xxlarge: 4rem;
$spacing-xxlarge: 5rem;

/* FONT-FAMILY */
$font-family-primary: 'Roboto', sans-serif;

